nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  background-color: #023047;
  height: 120px;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

span.logo{
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background-color: #023047;
  font-size: 24px;
  font-family: 'Bungee', cursive;
  padding: 1.5em;
  height: 120px;
}

div.newTweet{
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
  align-self: center;
}

i.fa-angles-down {
  color: #ffb703;
  align-self: center;
}