form {
  display: flex;
  flex-direction: column;
}

textarea {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #000000;
}

button {
  align-self: auto;
  font-family: 'Bungee', cursive;
  background-color: #219ebc;
  color: #FFFFFF;
  justify-content: space-between;
  border: none;
}

div.buttonContent {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  font-family: 'Bungee', cursive;
}

.warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  display: none;
  color: red;
  border: 2px solid red;
  margin-top: 10px;
}